In [1]:
company = input("Enter company name:")
name = input("Enter vehicle name:")
kms_driven = int(input("Enter kms driven:"))
year = int(input("Enter year:"))
fuel_type = input("Enter fuel type:")

Enter company name:Hyundai
Enter vehicle name:i20 Magna
Enter kms driven:50000
Enter year:2018
Enter fuel type:Diesel

In [3]:
import pickle as pkl
import pandas as pd
pipe = pkl.load(open("CPP.pkl", "rb"))

In [6]:
data = [[company, name, kms_driven, year, fuel_type]]
columns = ["company", "name", "kms_driven", "year", "fuel_type"]
myinput = pd.DataFrame(columns = columns, data = data)
myinput

   company       name  kms_driven  year fuel_type
0  Hyundai  i20 Magna       50000  2018    Diesel

In [7]:
pipe.predict(myinput)

array([[506007.30122658]])